
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Grad School </title>
    
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-grad-school.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">

<!--
    
TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->
  </head>

<body>

  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>Film</em> Arena</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        {% if user.is_authenticated %}
        <li><a href="persons/profile" class="external"> Hello {{user.username}}</a></li>
        <li><a href="persons/logout" class="external">Logout</a></li>
        {% else %}
        <li><a href="persons/register" class="external">Register</a></li>
        <li><a href="persons/login" class="external">Login</a></li>

<!--        <li class="has-submenu"><a href="#section2">Department</a>-->
<!--          <ul class="sub-menu">-->
<!--            <li><a href="https://en.wikipedia.org/wiki/Computer_science" class="external">Computer Science</a></li>-->
<!--            <li><a href="https://en.wikipedia.org/wiki/Biology" class="external">Biology Science</a></li>-->
<!--            <li><a href="https://en.wikipedia.org/wiki/Humanities" class="external">Humanities</a></li>-->
<!--            <li><a href="https://en.wikipedia.org/wiki/Journalism" class="external">Journalism</a></li>-->
<!--            <li><a href="https://en.wikipedia.org/wiki/Commerce" class="external">Commerece</a></li>-->

<!--          </ul>-->
<!--        </li>-->
<!--        <li><a href="#section4">Courses</a></li>-->
<!--        &lt;!&ndash; <li><a href="#section5">Video</a></li> &ndash;&gt;-->
<!--        <li><a href="#section6">Contact</a></li>-->
<!--        <li><a href="https://templatemo.com" class="external">External</a></li>-->
      {% endif %}
      </ul>
    </nav>
  </header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="{% static 'assets/images/course-video.mp4' %}" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h6>Complete movie site</h6>
              <h2><em>Your</em> Area</h2>
              <div class="main-button">
                  <div class="scroll-to-section"><a href="persons/movie_list">Discover Movies</a></div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->



    </script>
</body>
</html>