{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

   </head>
<body>
  <div class="wrapper">
    <h2>Registration</h2>
    <form action="register" method="post">
      {% csrf_token %}
      <div class="input-box">
        <input type="text" name="username" placeholder="Enter your name" required>
      </div>
      <div class="input-box">
        <input type="text" name="firstname" placeholder="Enter your firstname" required>
      </div>
      <div class="input-box">
        <input type="text" name="lastname" placeholder="Enter your lastname" required>
      </div>
      <div class="input-box">
        <input type="text" name="email" placeholder="Enter your email" required>
      </div>
      <div class="input-box">
        <input type="password" name="password" placeholder="Create password" required>
      </div>
      <div class="input-box">
        <input type="password" name="cpassword" placeholder="Confirm password" required>
      </div>
<!--      <div class="policy">-->
<!--        <input type="checkbox">-->
<!--        <h3>I accept all terms & condition</h3>-->
<!--      </div>-->
      <div class="input-box button">
        <input type="Submit"  value="Register Now">

      </div>
      <div class="text">
        <h3>Already have an account? <a href="login" class="extend">Login now</a></h3>
      </div>
      {% for msg in messages %}
    <h2>{{msg}}</h2>
    {% endfor %}
    </form>
  </div>

</body>

</html>
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <style>-->
<!--        label,input{-->
<!--        font-size:20px;}-->
<!--        table,th{-->
<!--        padding:20px;}-->
<!--        th,td {border:1px solid white;}-->
<!--    </style>-->
<!--</head>-->
<!--<body style="background-color:PowderBlue;">-->
<!--<h2 style="color:mattblack;text-align:center;"> Registration </h2>-->
<!--<form action="register" method="POST">-->
<!--    {% csrf_token %}-->
<!--    <table style="width:100%;align:center;">-->
<!--    <tr>-->
<!--        <th><label>Name</label></th>-->
<!--        <th><input type="text" name="username" ></th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th><label>First name</label></th>-->
<!--        <th><input type="text" name="first_name"></th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th><label>Last name</label></th>-->
<!--        <th><input type="text" name="last_name"></th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th><label>Email</label></th>-->
<!--        <th><input type="email" name="email"></th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th><label>Password</label></th>-->
<!--        <th><input type="password" name="password"></th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th><label>Re enter password</label></th>-->
<!--        <th><input type="password" name="password1"></th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th> </th>-->
<!--        <th><input type="submit"></th>-->
<!--    </tr>-->
<!--    </table>-->
<!--&lt;!&ndash;    <label>username</label>&nbsp;&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" name="username" placeholder="Enter your name"><br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" name="first_name" placeholder="Enter your first name"><br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="text" name="last_name" placeholder="Enter your last name"><br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="email" name="email" placeholder="Enter your mailid"><br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="password" name="password" placeholder="Enter your password"><br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="password" name="password1" placeholder="confirm your password"><br>&ndash;&gt;-->
<!--&lt;!&ndash;    <input type="submit">&ndash;&gt;-->

<!--</form>-->
<!--{% for msg in messages %}-->
<!--<h2>{{msg}}</h2>-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->